$primaryColor:#BA68C8;
$primaryLightestColor: #F3E5F5;
$primaryTextColor:#212121;
$accentColor:#76c868;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
