.layout-menu-light {
    --menu-bg: #FDFEFF;
    --root-menuitem-text-color: #657380;
    --menuitem-text-color: #515C66;
    --menuitem-hover-bg: rgba(0,0,0,.04);
    --active-menuitem-text-color: var(--primary-500);
    --active-menuitem-bg: var(--primary-50);
    --inline-menu-border-color: #e4e4e4;
}