.layout-menu-dark {
    --menu-bg: #1e1e1e;
    --root-menuitem-text-color: rgba(255,255,255,.60);
    --menuitem-text-color: rgba(255,255,255,.87);;
    --menuitem-hover-bg: hsla(0,0%,100%,.04);
    --active-menuitem-text-color: rgba(255,255,255,.87);
    --active-menuitem-bg: hsla(0,0%,100%,.04);
    --inline-menu-border-color: hsla(0,0%,100%,.12);
}