$primaryColor:#AED581;
$primaryLightestColor: #F1F8E9;
$primaryTextColor:#212121;
$accentColor:#a881d5;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
