$primaryColor:#81C784;
$primaryLightestColor: #E8F5E9;
$primaryTextColor:#212121;
$accentColor:#c781c4;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
