$primaryColor:#9575CD;
$primaryLightestColor: #EDE7F6;
$primaryTextColor:#212121;
$accentColor:#adcd75;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';