$primaryColor:#FFF176;
$primaryLightestColor: #FFFDE7;
$primaryTextColor:#212121;
$accentColor:#7684ff;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
