.logo-name {
  font-family: rtegra, sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
}

.logo {
  width: 40px;
  height: 35px;
  background-image: url('/assets/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}
