$primaryColor:#F06292;
$primaryLightestColor: #FCE4EC;
$primaryTextColor:#212121;
$accentColor:#62f0c1;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';