<p-toast/>

<p-panel header="Chain-of-Density (CoD)">
    <p>CoD prompts a LLM to create initial, entity-sparse summaries, then iteratively enriches them with critical
        entities without extending the length.</p>
    <p>This method produces more abstract, comprehensive summaries with reduced lead bias compared to traditional summary approaches. </p>
    <p>More info <a href="https://arxiv.org/pdf/2309.04269.pdf" target="_blank">here <i class="pi pi-external-link"></i></a></p>
</p-panel>

<br>

<genie-text-splitter [summarizeEnabled]="true"
                     (contentSelected)="onContentSelected($event)"
                     (availableChunks)="onAvailableChunks($event)"/>

@if (chunks && chunks.length > 0) {
    <br>

    <p-panel header="4. Summarization using CoD" [toggleable]="true" [collapsed]="chunks.length === 0">
        <p>Select language model to use for Chain-of-Density summarization.</p>

        <form [formGroup]="modelForm"
              (ngSubmit)="onSummarizeClick()"
              novalidate>

            <div class="grid p-fluid">

                <div class="field col-12 md:col-6">
                    <genie-language-model-dropdown (languageModel)="selectedLanguageModel($event)"/>
                </div>

                <div class="field col-12 md:col-6">
                    <p-dropdown [options]="embeddingModels">
                        <ng-template pTemplate="option" let-embeddingModel>
                            {{ embeddingModel.name }}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <div class="mb-3">Temperature: {{getTemperature()}}</div>
                    <p-slider formControlName="temperature"
                              id="temp_field"
                              [min]="0"
                              [max]="1"
                              [step]="0.1"/>
                    <div class="grid p-fluid mt-2">
                        <div class="col-4">Precise</div>
                        <div class="col-4 text-center">Neutral</div>
                        <div class="col-4 text-right">Creative</div>
                    </div>
                </div>

                <div class="col-12">
                    <p-button type="submit"
                              label="Summarize"
                              [disabled]="modelForm.invalid || summarizing"/>
                </div>

                @if (summarizing) {
                    <div class="col-12">
                        <p-progressBar mode="indeterminate" [style]="{height: '3px'}"/>
                    </div>
                }
            </div>

        </form>
    </p-panel>
}

@if (summaries && summaries.length > 0) {
    <br>
    <p-panel header="5. Summarized Text" [toggleable]="true" [collapsed]="false">
        <div class="grid">
            <div class="col-12">
                <div class="p-text-secondary"><i class="pi pi-clock mr-2"></i>{{getSummaryDuration()}}</div>
            </div>
            <div class="col-12">
                <p>Summarized text, make sure to review and correct where needed.</p>
            </div>
            <div class="col-12">
                <p-button label="Store in DB"
                          icon="pi pi-file-import"
                          severity="danger"
                          (click)="storeSummariesInDB()"
                          pTooltip="Store the chunks in the vector database"
                          [disabled]="saving || !chunks || chunks.length === 0"/>
            </div>
            <div class="col-12">
                <p-table [value]="summaries">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Missing Entities</th>
                            <th>Summary</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-summary>
                        <tr>
                            <td>{{ summary.missingEntities }}</td>
                            <td>{{summary.denserSummary}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>
}
