$primaryColor:#4DD0E1;
$primaryLightestColor: #E0F7FA;
$primaryTextColor:#212121;
$accentColor:#e15e4d;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
