$primaryColor:#90A4AE;
$primaryLightestColor: #ECEFF1;
$primaryTextColor:#212121;
$accentColor:#ae9a90;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
