$primaryColor:#64B5F6;
$primaryLightestColor: #E3F2FD;
$primaryTextColor:#212121;
$accentColor:#f6a664;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';