.layout-topbar-white {
    --topbar-bg: #ffffff;
    --topbar-start-bg: #ffffff;
    --topbar-menu-button-bg: var(--primary-color);
    --topbar-menu-button-hover-bg: var(--primary-600);
    --topbar-menu-button-text-color: var(--primary-color-text);
    --topbar-item-text-color: #616161;
    --topbar-item-hover-bg: rgba(0,0,0,.12);
}
