.layout-topbar-lime {
    --topbar-bg: #AFB42B;
    --topbar-start-bg: #9E9D24;
    --topbar-menu-button-bg: #F57C00;
    --topbar-menu-button-hover-bg: #f68c1f;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #212121;
    --topbar-item-hover-bg: rgba(0,0,0,.12);
}
