.layout-topbar-dark {
    --topbar-bg: #1e1e1e;
    --topbar-start-bg: #1e1e1e;
    --topbar-menu-button-bg: #E91E63;
    --topbar-menu-button-hover-bg: #c41953;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
