.layout-topbar-lightblue {
    --topbar-bg: #0288D1;
    --topbar-start-bg: #0277BD;
    --topbar-menu-button-bg: #FDD835;
    --topbar-menu-button-hover-bg: #dfbe2f;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
