.layout-topbar-brown {
    --topbar-bg: #5D4037;
    --topbar-start-bg: #4E342E;
    --topbar-menu-button-bg: #F9A825;
    --topbar-menu-button-hover-bg: #d18d1f;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
