$primaryColor:#9FA8DA;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: #212121;
$primaryTextColor:#121212;
$accentColor:#F48FB1;
$accentTextColor:#121212;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';