/* https://www.luciole-vision.com */
@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: 400;
  src: local("Luciole Regular"), url("luciole.woff2") format("woff2"), url("luciole.woff") format("woff");
}
