$primaryColor:#FFD54F;
$primaryLightestColor: #FFF8E1;
$primaryTextColor:#212121;
$accentColor:#4f78ff;
$accentTextColor:#ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
