$primaryColor:#FFB74D;
$primaryLightestColor: #FFF3E0;
$primaryTextColor:#212121;
$accentColor:#4d94ff;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
