$primaryColor:#4FC3F7;
$primaryLightestColor: #E1F5FE;
$primaryTextColor:#212121;
$accentColor:#f7844f;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';