$primaryColor:#FF8A65;
$primaryLightestColor: #FBE9E7;
$primaryTextColor:#212121;
$accentColor:#65dbff;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';

