<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <p>Use mouse to zoom in/out and rotate vector cloud</p>
    </div>
    <div class="col-12 md:col-6">
        <p-dropdown [options]="contentSelection"
                    placeholder="Select Content"
                    optionLabel="label">
            <ng-template let-option pTemplate="item">
                <div class="grid">
                    <div class="p-col-4" [ngStyle]="{'background-color': option.value, 'color': 'black', 'padding': '5 5 5 5', 'width': '25px'}">
                    </div>
                    <div class="p-col-8 ml-4">
                        <div>{{option.label}}</div>
                    </div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>

<div #container></div>
