$primaryColor:#DCE775;
$primaryLightestColor: #F9FBE7;
$primaryTextColor:#212121;
$accentColor:#8075e7;
$accentTextColor:#212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
